# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Unit Test / Coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# Logs
*.log

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# SQLite
*.sqlite3
*.db

# Temporary Files
*.tmp
*.temp

# Python Type Checkers
.mypy_cache/
.pyre/
.ruff_cache/

# Misc
.cache/